# Correlation Analysis of attrition with different variables

In [ ]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame, read_csv
f = 'C:/Users/DELL/Documents/LetsUpgrade/AL-MI/DaY11/MasterData.csv'
df = read_csv(f)
df=df[:]
df.describe()
print(df)
df.corr()

In [19]:
df1=df[df["Attrition"] =="Yes"]
df2=df[df["Attrition"] =="No"]
print(len(df1),len(df2))
print(df1)
df1.corr()

711 3699
      Age Attrition     BusinessTravel              Department  \
1      31       Yes  Travel_Frequently  Research & Development
6      28       Yes      Travel_Rarely  Research & Development
13     47       Yes         Non-Travel  Research & Development
28     44       Yes  Travel_Frequently  Research & Development
30     26       Yes      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4381   29       Yes      Travel_Rarely  Research & Development
4386   33       Yes      Travel_Rarely                   Sales
4388   33       Yes      Travel_Rarely                   Sales
4391   32       Yes      Travel_Rarely                   Sales
4402   37       Yes  Travel_Frequently                   Sales

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
1                   10          1  Life Sciences              1           2
6                   11          2        Medical              1           7
13                   1          1        Medical              1          14
28                   1          2        Medical              1          29
30                   4          3        Medical              1          31
...                ...        ...            ...            ...         ...
4381                 7          1  Life Sciences              1        4382
4386                11          4      Marketing              1        4387
4388                 1          3  Life Sciences              1        4389
4391                23          1  Life Sciences              1        4392
4402                 2          3      Marketing              1        4403

      Gender  ...  NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
1     Female  ...                 0.0      Y                23              8
6       Male  ...                 2.0      Y                20              8
13      Male  ...                 1.0      Y                11              8
28      Male  ...                 3.0      Y                14              8
30      Male  ...                 2.0      Y                11              8
...      ...  ...                 ...    ...               ...            ...
4381  Female  ...                 1.0      Y                21              8
4386    Male  ...                 5.0      Y                21              8
4388    Male  ...                 7.0      Y                11              8
4391    Male  ...                 0.0      Y                11              8
4402    Male  ...                 6.0      Y                11              8

      StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
1                    1               6.0                      3
6                    1               5.0                      2
13                   2              10.0                      4
28                   1              19.0                      2
30                   0               5.0                      5
...                ...               ...                    ...
4381                 0               4.0                      2
4386                 0               8.0                      2
4388                 0              13.0                      2
4391                 0               4.0                      2
4402                 1              17.0                      2

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
1                  5                        1                     4
6                  0                        0                     0
13                10                        9                     9
28                 1                        0                     0
30                 3                        0                     2
...              ...                      ...                   ...
4381               4                        0                     1
4386               5                        0                     4
4388               9                        1                     7
4391               3                        1                     2
4402               1                        0                     0

[711 rows x 24 columns]

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.026080,-0.002747,NaN,0.029155,-0.026623,-0.062499,0.350218,-0.051968,NaN,0.009963,0.673419,-0.203888,0.452909,0.329246,0.336577
DistanceFromHome,0.026080,1.000000,0.043613,NaN,-0.040122,-0.050439,-0.002508,-0.047932,0.060272,NaN,0.005480,0.024302,0.047564,0.075083,0.017294,0.067275
Education,-0.002747,0.043613,1.000000,NaN,0.024368,0.083130,0.021563,0.093571,-0.004470,NaN,-0.118171,0.084677,0.068421,0.034913,0.027004,0.055368
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.029155,-0.040122,0.024368,NaN,1.000000,-0.006128,0.014201,0.008669,-0.002181,NaN,-0.047025,0.025511,-0.022501,0.012315,-0.006103,0.007032
JobLevel,-0.026623,-0.050439,0.083130,NaN,-0.006128,1.000000,-0.007496,-0.039659,0.022936,NaN,-0.018726,-0.080697,-0.082644,-0.012896,-0.026023,-0.030132
MonthlyIncome,-0.062499,-0.002508,0.021563,NaN,0.014201,-0.007496,1.000000,-0.031931,-0.063350,NaN,0.076897,-0.020552,-0.014569,-0.051769,-0.002038,-0.033571
NumCompaniesWorked,0.350218,-0.047932,0.093571,NaN,0.008669,-0.039659,-0.031931,1.000000,0.039266,NaN,-0.049360,0.294828,-0.051039,-0.000761,0.013248,-0.019045
PercentSalaryHike,-0.051968,0.060272,-0.004470,NaN,-0.002181,0.022936,-0.063350,0.039266,1.000000,NaN,-0.020833,-0.081825,0.004306,-0.035208,-0.072424,0.038806
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.009963,0.005480,-0.118171,NaN,-0.047025,-0.018726,0.076897,-0.049360,-0.020833,NaN,1.000000,0.067587,-0.183141,0.080977,0.020542,0.116480
TotalWorkingYears,0.673419,0.024302,0.084677,NaN,0.025511,-0.080697,-0.020552,0.294828,-0.081825,NaN,0.067587,1.000000,-0.181937,0.767225,0.535056,0.570601
TrainingTimesLastYear,-0.203888,0.047564,0.068421,NaN,-0.022501,-0.082644,-0.014569,-0.051039,0.004306,NaN,-0.183141,-0.181937,1.000000,-0.156582,-0.062167,-0.101538
YearsAtCompany,0.452909,0.075083,0.034913,NaN,0.012315,-0.012896,-0.051769,-0.000761,-0.035208,NaN,0.080977,0.767225,-0.156582,1.000000,0.702128,0.769296
YearsSinceLastPromotion,0.329246,0.017294,0.027004,NaN,-0.006103,-0.026023,-0.002038,0.013248,-0.072424,NaN,0.020542,0.535056,-0.062167,0.702128,1.000000,0.683218
YearsWithCurrManager,0.336577,0.067275,0.055368,NaN,0.007032,-0.030132,-0.033571,-0.019045,0.038806,NaN,0.116480,0.570601,-0.101538,0.769296,0.683218,1.000000

# Interpretation

### upon analysis of different variables correlation where the correlation value is more than 0.05 the following has been found:
#### 1. Age shows postive correlation with NumCompaniesWorked, TotalWorkingYears, YearsAtCompany,YearsSinceLastPromotion, YearsWithCurrManager 
#### 2.DistanceFromHome shows postive correlation with PercentSalaryHike, YearsAtCompany, YearsWithCurrManager
#### 3.Education shows postive correlation with JobLevel, NumCompaniesWorked,TotalWorkingYears, TrainingTimesLastYear
#### 4. MonthlyIncome shows postive correlation with StockOptionLevel
#### 5. NumCompaniesWorked shows postive correlation with TotalWorkingYears
#### 6. StockOptionLevel shows postive correlation with YearsAtCompany, YearsWithCurrManager, TotalWorkingYear s
#### 7. TotalWorkingYears shows postive correlation with YearsAtCompany, YearsSinceLastPromotion, YearsWithCurrManager
#### 8.  YearsAtCompany shows postive correlation with YearsSinceLastPromotion 	YearsWithCurrManager
#### 9. YearsSinceLastPromotion shows postive correlation with  YearsWithCurrManager