In [1]:
import pandas as pd
import numpy as nd

In [2]:
titles= pd.read_csv("C:/Users/DELL/Documents/LetsUpgrade/AL-MI/DaY16-17/titles.csv")
cast= pd.read_csv("C:/Users/DELL/Documents/LetsUpgrade/AL-MI/DaY16-17/cast.csv")
release_dates= pd.read_csv("C:/Users/DELL/Documents/LetsUpgrade/AL-MI/DaY16-17/release_dates.csv")

In [7]:
print(titles.columns)
print(cast.columns)
print(release_dates.columns)

Index(['title', 'year'], dtype='object')
Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')
Index(['title', 'year', 'country', 'date'], dtype='object')

In [8]:
print("titles")
print(titles.describe())
print("cast")
print(cast.describe())
print("release")
print(release_dates.describe())

titles
                year
count  244914.000000
mean     1986.616012
std        29.459912
min      1894.000000
25%      1967.000000
50%      1997.000000
75%      2012.000000
max      2115.000000
cast
               year             n
count  3.786176e+06  2.327603e+06
mean   1.988911e+03  1.690599e+01
std    2.789225e+01  3.170679e+01
min    1.894000e+03  1.000000e+00
25%    1.970000e+03  5.000000e+00
50%    2.001000e+03  1.000000e+01
75%    2.012000e+03  2.100000e+01
max    2.115000e+03  3.361300e+04
release
                year
count  479488.000000
mean     1986.524783
std        28.015756
min      1894.000000
25%      1966.000000
50%      1998.000000
75%      2010.000000
max      2115.000000

In [9]:

print("titles")
print(titles.head())
print("cast")
print(cast.head())
print("release")
print(release_dates.head())

titles
                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008
cast
                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN
release
                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are listed in the titles dataframe?

In [10]:
print(len(titles))

244914

### What are the earliest two films listed in the titles dataframe?

In [11]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [12]:

print(len(titles[titles.title=="Hamlet"]))

20

### How many movies are titled "North by Northwest"?

In [13]:

print(len(titles[titles.title=="North by Northwest"]))

1

### When was the first movie titled "Hamlet" made?

In [14]:
titles[titles.title == "Hamlet"].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [15]:
titles[titles.title == "Treasure Island"].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [16]:
len(titles[titles.year== 1950])

1113

### How many movies were made in the year 1960?

In [17]:
len(titles[titles.year== 1960])

1549

### How many movies were made from 1950 through 1959?

In [18]:
t= titles
len(t[(1950 <=t.year)& (t.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [19]:
t= titles
t[t.title=="Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [20]:
c= cast
print(c[c.title== "Inception"])

             title  year                  name     type  \
98153    Inception  2010  Michael (III) August    actor
149008   Inception  2010          Peter Basham    actor
183937   Inception  2010          Tom Berenger    actor
197877   Inception  2010              Ken Bhan    actor
260128   Inception  2010        Virgile Bramly    actor
...            ...   ...                   ...      ...
3387147  Inception  2010            Ellen Page  actress
3444628  Inception  2010        Nicole Pulliam  actress
3473041  Inception  2010    Lisa (II) Reynolds  actress
3480170  Inception  2010         Talulah Riley  actress
3731263  Inception  2010        Shannon Welles  actress

                     character     n
98153            LAX Passenger   NaN
149008   Fischer's Jet Captain  44.0
183937                Browning   8.0
197877        Mombasan Gambler   NaN
260128          Bridge Sub Con  29.0
...                        ...   ...
3387147                Ariadne   3.0
3444628          Lobby Sub Con  43.0
3473041          Private Nurse  48.0
3480170                 Blonde  25.0
3731263                Old Mal  51.0

[78 rows x 6 columns]

In [21]:
print(len(c))

3786176

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [24]:
c= cast
c[c.title== "Inception"]
c= c[c.n.isnull()]
print(len(c))

1458573

### But how many roles in the movie "Inception" did receive an "n" value?

In [25]:
c= cast
c[c.title== "Inception"]
c= c[c.n.notnull()]
len(c)

2327603

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
c= cast
c[c.title== "Inception"]
c= c[c.n.isnull()]
print(len(c))

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

In [38]:
c= titles
c[[c.year= 1950]].sum()

SyntaxError: invalid syntax (<ipython-input-38-8e1b7fd23c18>, line 2)

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

In [39]:
c= cast
c[[c.type!= "actor",c.type !="actress"]].sum()
print(len(c))

ValueError: Item wrong length 2 instead of 3786176.

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [27]:
c= cast
c[c.year== 1980]
c= c[c.n.notnull()]
print(len(c))

2327603